body {
    background-image: url("/images/background.jpeg");
}

.my-card {
    height: 35rem;
    width: 30rem !important;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}